body {
  padding: 10px;
  min-width: 900px;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 4px;
  border: 1px solid black;
  background-color: white;
}
a:hover {
  background-color: yellow;
}
textarea {
  width: 99%;
  height: 300px;
}
ul {
  list-style: none;
  margin-left: 20%;
}
li {
  margin: 4px;
}
input {
  font-size: 0.8em;
  margin-bottom: 2px;
}
.fullWidth {
  width: 100%;
}
.text {
  margin: 10px 0;
  color: white;
  background-color: black;
  padding: 4px;
}
.left,
.right {
  vertical-align: top;
  display: inline-block;
  word-wrap: break-word;
}
.left {
  width: 70%;
}
.right {
  margin-left: 2%;
  width: 25%;
}
.topMargin {
  margin-top: 8px;
}
.botMargin {
  margin-bottom: 8px;
}
.bigLineHeight {
  height: 48px;
}
.panel {
  padding: 4px;
  background-color: lightgrey;
  border: 1px dashed grey;
}
